.main-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.event-block {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

@media (max-width: 640px) {
  .event-block {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: space-between;
}

.event-one {
  grid-area: 1/1/2/2;
  border-radius: 20px;
  padding: 10px;
}

.event-two {
  grid-area: 2/2/3/3;
  border-radius: 20px;
}

.event-three {
  grid-area: 3/1/4/2;
  border-radius: 20px;
}

section {
  /* background-image: url(./background.png); */
  background-size: auto;
}
body {
  /* background-image: url(./background.png); */
  background-size: auto;
}
