/*--------------Only put global styles here -----------------*/
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;400;500;700&family=Russo+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2390f7;
}

body {
  color: #fff;
  background-color: #000;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.experience {
  position: fixed;
  width: 100%;
  height: 100dvh;
  height: 100vh;
  top: 0;
  left: 0;
}

/* .content-wrapper {
  position: relative;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1300px;
} */

@media (max-width: 900px) {
  .content-wrapper {
    position: relative;
    width: calc(100% - 48px);
    margin: 0 auto;
    max-width: 1100px;
  }
}

/*--------------------------------Locomotive Scroll essential--------------------*/
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100%;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100%;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 11;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}
