/*--------------Only put global styles here -----------------*/
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@100;400;500;700&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #2390f7;
  --main: #27272a;
  --default-dark: 240 4% 46%;
}

body {
  color: #fff;
  background-color: #000006;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  text-size-adjust: 100%;
}

body {
  height: 100%;
  overflow-y: scroll;
}

.experience {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.event-block {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

/*------------------Footer---------------------*/
.footer a {
  color: #a855f7;
  transition: 0.5s ease-in-out;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-icons {
  color: white;
}

@media (max-width: 640px) {
  .event-block {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 900px) {
  .content-wrapper {
    position: relative;
    width: calc(100% - 48px);
    margin: 0 auto;
    max-width: 1100px;
  }
}

/*------------------Lenis Scroll--------------------*/
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
