.main-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 7.5%;
  margin-left:2%;
  margin-right: 2%;
}

.main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: space-between;
}

.event-1 {
  grid-area: 1/1/2/2;
  border-radius: 20px;
  padding: 2.5%;
}

.event-2 {
  grid-area: 2/2/3/3;
  border-radius: 20px;
}

.event-3 {
  grid-area: 3/1/4/2;
  border-radius: 20px;
}

section {
  /* background-image: url(./background.png); */
  background-size: auto;
}
body {
  /* background-image: url(./background.png); */
  background-size: auto;
}